.red {
	color: red;
}
.bold{
	font-weight: bold;
}
.Header button:hover {
	border: 2px solid #009900;
	background-color: limegreen;
	color: #000;
	cursor: pointer;
}
.Header button.Red{
	border: 2px solid salmon;
	background-color: red;
	box-shadow: 0 3px 2px rgba(75, 48, 48, 0.6);
	color: #fff;
}
.Header button.Red:hover{
	border: 2px solid #bf0202;
	background-color: salmon;
	color: #000;
}