.App {
	text-align: center;
}
.App button{
	border: none;
	border-radius: 6px;
	padding: 10px;
	background-color: green;
	border: 2px solid limegreen;
	color: #fff;
	font: inherit;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}
